/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #11101D;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.form-group .form-control{
  display: block;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
  margin-right: 10px;
  margin-left: 10px;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
  cursor: pointer;

}
.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
  padding-left: 1px;

}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar input{
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}
.sidebar.open input{
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #FFF;
}
.sidebar.open .bx-search:hover{
  background: #1d1b31;
  color: #FFF;
}
.sidebar .bx-search:hover{
  background: #FFF;
  color: #11101d;
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101D;
}
.sidebar li a:hover{
  background: #FFF;
}
.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #11101D;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile{
  width: 250px;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job{
  font-size: 12px;
}
.sidebar .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  justify-content: center;  
  border-radius: 0px;
  color: #fff;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}
.home-section{
  position: inherit;
  background: #ffffff;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% + 0px );
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section{
  left: 250px;
  width: calc( 100px + 90% );
}
.home-section .text{
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}

.modal {
  position: inherit;
  display: content;
  opacity: 100%;
}
#myModalLabel{
  font-size: 1.6em;
  font-weight: 700;
  opacity: 100%;
  padding: 0 50px 0;

}
#moda1 {
  background: linear-gradient(to right, #3E8AFF, #BBDEFF);
  color: #FFF;
  opacity: 100%;

}

#moda2 {
  background: linear-gradient(to right,  #239646, #88c499);
  color: #FFF;
  opacity: 100%;

}

#moda3 {
  background: linear-gradient(to right, #ff3e3e, #ffbbbb);
  color: #FFF;
  opacity: 100%;

}

.modal-body .texx{
  margin: 10px 25px 40px;
  font-size: 1.0em;
  font-family: 'Poppins';
  font-style: oblique;
  font-weight: 600;
}
.modal-body h {
  margin: 10px 20px 30px 0;
  font-size: 1.1em;
  font-family: 'Poppins';
  font-style: oblique;
}
#valor{
  color: rgb(34, 207, 34);
  font-size: 1.3em;
  font-weight: bold;

}
.modal-body p {
  margin-top: 20px;
  margin-bottom: 20px;

}
.bloco{
  padding: 20px 0 20px;
  background-color: rgb(241, 241, 241);
  border-radius: 40px;
  opacity: 100%;

}


@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
  .page-header f{
    display: flex;
    justify-content: center;
    margin: 20px 0 20px;
    color: #3E8AFF;
    font-weight: 700;
    font-size: 1em;
    font-family: cursive;
}}
.btn-primary2 {
  color: #fff;
  background-color:  #239646;
  border-color: #2c9d19;
  font-size: 1.15em;
  width: 300px;
  cursor: pointer;
  position: relative;
  height: 40px;
}
.but{
  justify-content: center;
  display: flex;
}
.page-header f{
  display: flex;
  justify-content: center;
  margin: 20px 0 20px;
  color: #3E8AFF;
  font-weight: 700;
  font-size: 2em;
  font-family: cursive;

}
.page-header g{
  display: flex;
  justify-content: center;
  margin: 20px 0 20px;
  color: #3dac27;
  font-weight: 700;
  font-size: 2em;
  font-family: cursive;
}.page-header eee{
  display: flex;
  justify-content: center;
  margin: 20px 0 20px;
  color: #ff3e3e;
  font-weight: 700;
  font-size: 2em;
  font-family: cursive;

}

.b{
  opacity: 0%;
  margin: -30px  0;
}

.fade:not(.show) {
  opacity: 100%; 
}





main.cards {
  padding: 20px 0;
}

main.cards section.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  max-height: 468px;
  margin-left: 32px;
}

main.cards section.card:first-child {
  margin-left: 0;
}

main.cards section.card .icon {
  width: 64px;
  height: 64px;
}

main.cards section.card img {
  width: 100%;
}

main.cards section.card h3 {
  font-size: 1.3em;
  margin: 16px 0;
}

main.cards section.card span {
  font-weight: 300;
  max-width: 240px;
  font-size: 90%;
  margin-bottom: 16px;
}

main.cards section.card button {
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  border-radius: 32px;
  border: 0;
  cursor: pointer;
  font-size: 90%;
  font-weight: 500;
  color: #fff;
  margin-bottom: 16px 0;
}

main.cards section.card.contact button {
  background: linear-gradient(to right, #3E8AFF, #BBDEFF);
  cursor: pointer;

}
main.cards section.card.shop button {
  background: linear-gradient(to right,  #239646, #88c499);
}
main.cards section.card.about button {
  background: linear-gradient(to right, #ff3636, #ffc7c7);
}

main.cards section.card.contact {
  box-shadow: 20px 20px 50px -30px #AFD6FF;
}
main.cards section.card.shop {
  box-shadow: 20px 20px 50px -30px #82bb8c;
}
main.cards section.card.about {
  box-shadow: 20px 20px 50px -30px #ffc1c1;
}

@media screen and (max-width: 720px) {
  .page-header{
    padding-left: 78px;
    display: flex;
    justify-content: center;
  }
  main.cards {
      flex-direction: column;
  }

  main.cards section.card {
      padding-left: 78px;
      margin-bottom: 32px;

  }

  main.cards section.card:last-child {
      margin-bottom: 0;

  }

  main.cards section.card button {
      font-size: 70%;

  }

}


body {
  overflow: hidden;
}